html,
body{
	height:100%;
	margin:0;
	padding:0;
	background-color:black;
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
	font-family: sans-serif;
	
}
/* Header */
.header{
	min-height: 50px;
	max-height: 50px;
    background: transparent;
    display:grid;
	grid-template-columns:auto auto auto;
	color:#fff;
	transition:.75s;
}
.header:hover{
	background-color:#2D2926FF;
	min-height:90px;
	max-height:90px;
}
.brand{
	font-size:x-large;
	font-weight:bold;
    color:rgb(226,226,226);
    padding-top:10px;
    padding-left:35px;
}
#menu-area{
	display:block;
}
#nav {
	min-width: 545px;
}
#nav ul{

    display:grid;
	grid-template-columns:auto auto auto auto auto;
}
#nav a{
	color:rgb(226,226,226);
	text-decoration:none;
	letter-spacing:3px;
	font-weight:bold;
	font-size:14px;
	transition:0.5s;
}
#nav a:hover{
	color:#E94B3CFF;
	font-weight: bold;
	font-size: larger;
}
#nav ul li{
	list-style:none;
}
#nav ul li a{
    text-decoration:none;
}
#nav ul li ul{
    display:grid;
    grid-template-columns:auto;
	line-height: 40px;
	padding-right:15px;
}
#nav ul li ul li{
    list-style:none;
    display:none;
}

#nav ul li:hover ul{
	background:#333;
	border-radius:15%;
}
#nav ul li:hover ul li{
	display:block;
}
.burger{
	float:right;
    padding-top:10px;
    padding-left:100px;
}
.burger div{
	background-color:rgb(226,226,226);
	width:25px;
	height:3px;
    margin:5px;
}


/* footer */

.segment-one p,.segment-two p,.segment-three p,.segment-four p{
	color:#999;
	line-height:25px;
}

h2,h3 {
	color:#fff;
	font-size:18px;
	font-family: 'Courier New', Courier, monospace;
}

.footer-top{
	background:#111;
	height:225px;
	padding-top:30px;
	padding-bottom:60px;
}
.row {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 85px;
	padding-left:75px;
	margin-top:0px;
}
.segment-one,.segment-two,.segment-three{
	width: 200px;
}
.segment-four{
	width: 273px;
	padding-right:30px;
}
.segment-one h3{
	letter-spacing:3px;
	margin :10px 0;
}

.segment-one h3:before,.segment-two h2:before,.segment-three h2:before,.segment-four h2:before{
	content:'|';
	color:#c65039;
	padding-right: 10px;
}
.segment-two ul{
	margin:0;
	padding:0;
	list-style:none;
	
}
.segment-two ul li{
	border-bottom :1px solid  rgba(255,255,255,0.3);
	line-height: 40px;
}
.segment-two ul li a{
	text-decoration:none;
	color:#999;
}
.segment-four form input[type=submit]{
	background:#c65039;
	border:none;
	padding:3px 15px;
	margin-left: -5px;
	color:#fff;
	text-transform: uppercase;
}
.footer-bottom{
	color:#999;
	text-align:center;
	background:#000;
	line-height:55px;
}
.icons {
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
}
.icons img{
	width:30px;
}

/*Main*/
.main{
    height:1800px;
}
.topic{
    color:white;
	padding-left: 550px;
	padding-top:30px;
    width:500px;
    
}

.box{
    padding-left:90px;
}
.image{
    width:90%;
    height:400px;
    background-image: url('../img/Competition/Picture1.jpg');
    background-size: cover;
    transition:1.5s all;
}
.image:hover{
    box-shadow: 0px 0px 40px #fff, 0px 0px 60px #fff, 0px 0px 80px #fff,0px 0px 120px #fff;
   
}
.layout{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    padding-top:30px;
}
.c{
    display:grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 35px;
    padding:35px;
    

}
.i,.d{
    height:200px;
    background:white;
    border-radius:20px;
	transition:1.5s all;


}
.i:hover,d:hover{
    box-shadow: 0px 0px 40px #fff, 0px 0px 60px #fff, 0px 0px 80px #fff,0px 0px 120px #fff;
}
.d{
    background-color: black;
	color:white;
	line-height:20px
}
.i1{
	background-image:url('../img/Competition/segi competiton 03.jpg');
	background-size:cover;
}
.i2{
	background-image:url('../img/Competition/Sunway Invitational 2019.jpg');
	background-size:cover;
}
.i3{
	background-image:url('../img/Competition/help uni com.jpg');
	background-size:cover;
}
.i4{
	background-image:url('../img/Competition/open.jpg');
	background-size:cover;
}