@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

html,
body{
	height:100%;
	margin:0;
	padding:0;
	box-sizing: border-box;
	background-color:#0E1111;
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
	font-family: sans-serif;
	
}
/* Header */
.header{
	min-height: 50px;
	max-height: 50px;
    background: transparent;
    display:grid;
	grid-template-columns:auto auto auto;
	color:#fff;
	transition:.75s;
}
.header:hover{
	background-color:#2D2926FF;
	min-height:90px;
	max-height:90px;
}
.brand{
	font-size:x-large;
	font-weight:bold;
    color:rgb(226,226,226);
    padding-top:10px;
    padding-left:35px;
}
#menu-area{
	display:block;
}
#nav {
	min-width: 545px;
}
#nav ul{

    display:grid;
	grid-template-columns:auto auto auto auto auto;
}
#nav a{
	color:rgb(226,226,226);
	text-decoration:none;
	letter-spacing:3px;
	font-weight:bold;
	font-size:14px;
	transition:0.5s;
}
#nav a:hover{
	color:#E94B3CFF;
	font-weight: bold;
	font-size: larger;
}
#nav ul li{
	list-style:none;
}
#nav ul li a{
    text-decoration:none;
}
#nav ul li ul{
    display:grid;
    grid-template-columns:auto;
	line-height: 40px;
	padding-right:15px;
}
#nav ul li ul li{
    list-style:none;
    display:none;
}

#nav ul li:hover ul{
	background:#333;
	border-radius:15%;
}
#nav ul li:hover ul li{
	display:block;
}
.burger{
	float:right;
    padding-top:10px;
    padding-left:100px;
}
.burger div{
	background-color:rgb(226,226,226);
	width:25px;
	height:3px;
    margin:5px;
}

/* Main */
.main{
	margin:0;
	padding: 90px 15px;
	min-height:100vh;
	font-family:'Courier New', Courier, monospace;
	overflow: none;

	
}
.container{
	max-width: cover;
	margin:auto;
	display:grid;
	grid-template-columns: auto auto auto auto;
	column-gap: 15px;
}
.main .border{
	display:block;
	margin:auto;
	width:160px;
	height: 3px;
	background-color: #E94B3CFF;
	margin-bottom:25px;
	
}
.light{
	text-align:center;
	padding:50px;
}
.button{
	padding-right:30px;
	padding-top:5px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 4px;
	overflow: hidden;
	transition:0.2s;
	padding-left:35px;
	color:#fff;
	background:#E94B3CFF;
	font-weight: bold;
	box-shadow: 0 0 10px #E94B3CFF, 0 0 40px #E94B3CFF, 0 0 80px #E94B3CFF;

}
.button:hover{
	color:#E94B3CFF;
	background-color: #FFF;
	box-shadow: 0 0 10px #FFF, 0 0 40px #FFF, 0 0 80px #FFF;
}

.main h1{
	font-size:36px;
	font-family: 'Open Sans', sans-serif;
	color:#ffffff;
	margin:0;
	padding-bottom:60px;
	text-align: center;
}


.main .card .box {
	padding:15px;
	background:#2D2926FF;
	border-radius:5px;
	transition:margin 1s ease,box-shadow 1s ease;
	opacity: 0.5;
}
.main .card .box:hover {
	opacity: 1;
}
.main .card .box:hover {
	margin-top: -15px;
	box-shadow: 0px 0px 40px#fff,0px 0px 60px#fff,0px 0px 80px#fff,0px 0px 120px#fff;
}
.main .card .box img{
	width:150px;
	height: 150px;
	display:block;
	margin:10px auto;
	border-radius:50%;
}
.main .card .box h4{
	font-size:20px;
	font-family: 'Open Sans', sans-serif;
	margin:20px 0px 10px;
	color:#ea5e71;
	text-align:center;
	font-weight: 700;
}
.main .card .box h5{
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color:#b9b9b9;
	margin:0px 0px 15px;
	text-align:center;
}
.main .card .box p{
	color:#b9b9b9;
	font-size:15px;
	font-family:monospace;
	font-weight: 400;
	line-height: 24px;
	text-align:center;
	padding:0px 20px;
}


/* footer */
.segment-one p,.segment-two p,.segment-three p,.segment-four p{
	color:#999;
	line-height:25px;
}

h2,h3 {
	color:#fff;
	font-size:18px;
	font-family: 'Courier New', Courier, monospace;
}

.footer-top{
	background:#111;
	height:225px;
	padding-top:30px;
	padding-bottom:60px;
}
.row {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 85px;
	padding-left:75px;
	margin-top:0px;
}
.segment-one,.segment-two,.segment-three{
	width: 200px;
}
.segment-four{
	width: 273px;
	padding-right:50px;
}
.segment-one h3{
	letter-spacing:3px;
	margin :10px 0;
}

.segment-one h3:before,.segment-two h2:before,.segment-three h2:before,.segment-four h2:before{
	content:'|';
	color:#c65039;
	padding-right: 10px;
}
.segment-two ul{
	margin:0;
	padding:0;
	list-style:none;
	
}
.segment-two ul li{
	border-bottom :1px solid  rgba(255,255,255,0.3);
	line-height: 40px;
}
.segment-two ul li a{
	text-decoration:none;
	color:#999;
}
.segment-four form input[type=submit]{
	background:#c65039;
	border:none;
	padding:3px 15px;
	margin-left: -5px;
	color:#fff;
	text-transform: uppercase;
}
.footer-bottom{
	color:#999;
	text-align:center;
	background:#000;
	line-height:55px;
}
.icons {
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
}
.icons img{
	width:30px;
}