vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|12 Jan 2020 12:23:45 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|JS_Basic/activities.html
vti_author:SR|JUNPC\\kjunn
vti_modifiedby:SR|JUNPC\\kjunn
vti_timecreated:TR|12 Jan 2020 07:12:21 -0000
vti_cacheddtm:TX|12 Jan 2020 12:23:45 -0000
vti_filesize:IR|4333
vti_cachedlinkinfo:VX|S|../img/coveractivities.png S|../img/activities.jpg S|../img/activities1.jpg S|../img/activities3.jpg S|../img/activities4.jpg
vti_cachedsvcrellinks:VX|FSUS|JS_Basic/img/coveractivities.png FSUS|JS_Basic/img/activities.jpg FSUS|JS_Basic/img/activities1.jpg FSUS|JS_Basic/img/activities3.jpg FSUS|JS_Basic/img/activities4.jpg
