vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|12 Jan 2020 12:23:53 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|JUNPC\\kjunn
vti_modifiedby:SR|JUNPC\\kjunn
vti_timecreated:TR|01 Nov 2019 16:07:09 -0000
vti_backlinkinfo:VX|JS_Basic/index.html JS_Basic/index.dwt
vti_nexttolasttimemodified:TW|28 Dec 2019 08:40:52 -0000
vti_cacheddtm:TX|12 Jan 2020 12:23:53 -0000
vti_filesize:IR|4982
vti_cachedlinkinfo:VX|S|../img/Taekwondo(background2).jpg S|../img/taekwondo(background2).jpg S|../img/taekwondo(background7).jpg S|../img/taekwondo(background2).jpg
vti_cachedsvcrellinks:VX|FSUS|JS_Basic/img/Taekwondo(background2).jpg FSUS|JS_Basic/img/taekwondo(background2).jpg FSUS|JS_Basic/img/taekwondo(background7).jpg FSUS|JS_Basic/img/taekwondo(background2).jpg
