vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|12 Jan 2020 10:14:21 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|JS_Basic/competitions.html
vti_author:SR|JUNPC\\kjunn
vti_modifiedby:SR|JUNPC\\kjunn
vti_timecreated:TR|12 Jan 2020 12:39:52 -0000
vti_cacheddtm:TX|12 Jan 2020 12:39:52 -0000
vti_filesize:IR|4259
vti_cachedlinkinfo:VX|S|../img/Competition/Picture1.jpg S|../img/Competition/segi\\ competiton\\ 03.jpg S|../img/Competition/Sunway\\ Invitational\\ 2019.jpg S|../img/Competition/help\\ uni\\ com.jpg S|../img/Competition/open.jpg
vti_cachedsvcrellinks:VX|FSUS|JS_Basic/img/Competition/Picture1.jpg FSUS|JS_Basic/img/Competition/segi\\ competiton\\ 03.jpg FSUS|JS_Basic/img/Competition/Sunway\\ Invitational\\ 2019.jpg FSUS|JS_Basic/img/Competition/help\\ uni\\ com.jpg FSUS|JS_Basic/img/Competition/open.jpg
