vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|12 Jan 2020 12:24:28 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|JUNPC\\kjunn
vti_modifiedby:SR|JUNPC\\kjunn
vti_timecreated:TR|12 Jan 2020 07:22:41 -0000
vti_backlinkinfo:VX|JS_Basic/practice.html
vti_cacheddtm:TX|12 Jan 2020 12:24:28 -0000
vti_filesize:IR|4319
vti_cachedlinkinfo:VX|S|../img/Training/training4.jpg S|../img/Training/pratice.jpg S|../img/Training/training.jpg S|../img/Training/training2.jpg S|../img/Training/training3.jpg
vti_cachedsvcrellinks:VX|FSUS|JS_Basic/img/Training/training4.jpg FSUS|JS_Basic/img/Training/pratice.jpg FSUS|JS_Basic/img/Training/training.jpg FSUS|JS_Basic/img/Training/training2.jpg FSUS|JS_Basic/img/Training/training3.jpg
